.item {
  font-size: 1.5em;
}

#graph {
  margin: 1em;
}

.axis {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  stroke: #000;
}

.link {
  fill: none;
  stroke: #999 !important;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}

.link.active {
  stroke: red !important;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.node.active {
  stroke: red !important;
  stroke-width: 3px;
}

svg {
  z-index: -1;
}

#infoPopup {
  z-index: 1000;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}

#dateSelect {
  z-index: 1000;
  position: absolute;
  right: 1.5em;
  top: 1em;
  font-weight: bold;
  font-size: 1.1em;
}
