# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
project/dist
project/dist-server
project/tmp
project/out-tsc

# dependencies
project/node_modules

# IDEs and editors
project/.idea
project/.project
project/.classpath
project/.c9/
project/*.launch
project/.settings/
project/*.sublime-workspace

# IDE - VSCode
project/.vscode/*
!project/.vscode/settings.json
!project/.vscode/tasks.json
!project/.vscode/launch.json
!project/.vscode/extensions.json

# misc
project/.sass-cache
project/connect.lock
project/coverage
project/libpeerconnection.log
project/npm-debug.log
project/testem.log
project/typings

# e2e
project/e2e/*.js
project/e2e/*.map

# System Files
project/.DS_Store
project/Thumbs.db
