<div id="graph" class="ui padded segment">
  Network shown here
</div>

<button class="ui primary button" (click)="showModal()" style="margin-left: 1em">
  Show Modal
</button>

<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="ui icon header">
    <i class="archive icon"></i>
    Comédie-Française Dataset
  </div>
  <div class="content">
    <div class="ui inverted five statistics">
      <div *ngFor="let stat of context.statistics" class="statistic">
        <div class="value">{{ stat.value }}</div>
        <div class="label">{{ stat.label }}</div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button" (click)="modal.deny()">
      <i class="remove icon"></i>
      Close
    </div>
    <div class="ui green ok inverted button" (click)="modal.approve('okay')">
      <i class="checkmark icon"></i>
      Okay
    </div>
  </div>
</ng-template>

